<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Follow Me.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8F59AE01C3E73C500CA694A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F59AF71C3E73C500CA694A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F59B021C3E73C500CA694A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
